<a href="https://colab.research.google.com/github/Abdul8189/datascience/blob/main/cross_validation_kfold_levaeoneout.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dataset=pd.read_csv('placement.csv')

In [ ]:
dataset.head(3)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1

In [ ]:
# x=dataset.iloc[:,:-1]
# y= dataset['placed']

In [ ]:
new_data=dataset.head(10)

In [ ]:
x=new_data.iloc[:,:-1]
y=new_data['placed']

In [ ]:
print(y.shape)

(10,)

In [ ]:
new_data

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1
5  8.77          6.19       1
6  5.34          7.09       0
7  6.56          6.29       0
8  6.32          6.71       0
9  7.69          7.12       1

In [ ]:
from sklearn.model_selection import LeaveOneOut,LeavePOut,KFold,StratifiedKFold

In [ ]:
lo=LeaveOneOut()
for train,test in lo.split(x,y):
  print(train,test)

[1 2 3 4 5 6 7 8 9] [0]
[0 2 3 4 5 6 7 8 9] [1]
[0 1 3 4 5 6 7 8 9] [2]
[0 1 2 4 5 6 7 8 9] [3]
[0 1 2 3 5 6 7 8 9] [4]
[0 1 2 3 4 6 7 8 9] [5]
[0 1 2 3 4 5 7 8 9] [6]
[0 1 2 3 4 5 6 8 9] [7]
[0 1 2 3 4 5 6 7 9] [8]
[0 1 2 3 4 5 6 7 8] [9]

In [ ]:
lo1=LeavePOut(p=2)
for train,test in lo1.split(x,y):
  print(x,y)

   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64
   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30
5  8.77          6.19
6  5.34          7.09
7  6.56          6.29
8  6.32          6.71
9  7.69          7.12 0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    0
8    0
9    1
Name: placed, dtype: int64

In [ ]:

lo2=KFold(n_splits=5)

for train,test in lo2.split(x,y):
  print(train,test)

[2 3 4 5 6 7 8 9] [0 1]
[0 1 4 5 6 7 8 9] [2 3]
[0 1 2 3 6 7 8 9] [4 5]
[0 1 2 3 4 5 8 9] [6 7]
[0 1 2 3 4 5 6 7] [8 9]

In [ ]:
lo3=StratifiedKFold(n_splits=5)
for train,test in lo3.split(x,y):
  print(train,test)

[1 3 4 5 6 7 8 9] [0 2]
[0 2 4 5 6 7 8 9] [1 3]
[0 1 2 3 5 7 8 9] [4 6]
[0 1 2 3 4 6 8 9] [5 7]
[0 1 2 3 4 5 6 7] [8 9]

/usr/local/lib/python3.12/dist-packages/sklearn/model_selection/_split.py:805: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=5.
  warnings.warn(

In [ ]:
x1=dataset.iloc[:,:-1]

In [ ]:
y1=dataset['placed']

In [ ]:
from sklearn.model_selection import train_test_split,cross_val_score

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
p=cross_val_score(LinearRegression(),x1,y1,cv=5)

In [ ]:
p.sort()

In [ ]:
print(p)

[0.61152103 0.75327367 0.75979368 0.77806001 0.82907968]

In [ ]:
pk=cross_val_score(LinearRegression(),x1,y1,cv=KFold(n_splits=5))

In [ ]:
pk.sort()
print(pk)

[0.61152103 0.75327367 0.75979368 0.77806001 0.82907968]