<a href="https://colab.research.google.com/github/Abdul8189/datascience/blob/main/Machinelaerning_(train_test_data).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
dataset=pd.read_csv('HousingData.csv')

In [3]:
dataset.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [6]:
input_data= dataset.iloc[:,:-1]
input_data
output_data= dataset['TOTAL']

In [5]:
dataset.rename(columns={'MEDV':'TOTAL'},inplace=True)

In [7]:
dataset.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,TOTAL
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [8]:
from sklearn.model_selection import  train_test_split

In [9]:
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.25)

In [10]:
x_test

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
431,10.06230,0.0,18.10,0.0,0.584,6.833,94.3,2.0882,24,666,20.2,81.33,19.69
311,0.79041,0.0,9.90,0.0,0.544,6.122,52.8,2.6403,4,304,18.4,396.90,5.98
233,0.33147,0.0,6.20,0.0,0.507,8.247,NaN,3.6519,8,307,17.4,378.95,3.95
104,0.13960,0.0,8.56,0.0,0.520,6.167,90.0,2.4210,5,384,20.9,392.69,12.33
34,1.61282,0.0,8.14,0.0,0.538,6.096,96.9,3.7598,4,307,21.0,248.31,20.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,0.27957,0.0,9.69,0.0,0.585,5.926,42.6,2.3817,6,391,19.2,396.90,13.59
214,0.28955,0.0,10.59,0.0,0.489,5.412,9.8,3.5875,4,277,18.6,348.93,29.55
347,0.01870,85.0,4.15,0.0,0.429,6.516,27.7,8.5353,4,351,17.9,392.43,6.36
171,2.31390,0.0,19.58,0.0,0.605,5.880,97.3,2.3887,5,403,14.7,348.13,12.03
128,0.32543,0.0,21.89,0.0,0.624,6.431,98.8,1.8125,4,437,21.2,396.90,15.39

In [11]:
dataset.shape

(506, 14)

In [12]:
x_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
54,0.01360,75.0,4.00,0.0,0.410,5.888,47.6,7.3197,3,469,21.1,396.90,14.80
37,0.08014,0.0,5.96,0.0,0.499,5.850,41.5,3.9342,5,279,19.2,396.90,8.77
459,6.80117,0.0,18.10,0.0,0.713,6.081,84.4,2.7175,24,666,20.2,396.90,14.70
401,14.23620,0.0,18.10,NaN,0.693,6.343,100.0,1.5741,24,666,20.2,396.90,20.32
499,0.17783,0.0,9.69,0.0,0.585,5.569,73.5,2.3999,6,391,19.2,395.77,15.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,NaN,30.0,4.93,0.0,0.428,6.095,65.1,6.3361,6,300,16.6,394.62,12.40
229,NaN,0.0,6.20,0.0,0.504,6.552,21.4,3.3751,8,307,17.4,380.34,3.76
165,2.92400,0.0,19.58,0.0,0.605,6.101,93.0,2.2834,5,403,14.7,240.16,9.81
47,0.22927,0.0,NaN,0.0,0.448,6.030,85.5,5.6894,3,233,17.9,392.74,18.80
63,0.12650,25.0,5.13,0.0,0.453,6.762,43.4,7.9809,8,284,19.7,395.58,9.50

In [13]:
y_train

54     18.9
37     21.0
459    20.0
401     7.2
499    17.5
       ...
241    20.1
229    31.5
165    25.0
47     16.6
63     25.0
Name: TOTAL, Length: 379, dtype: float64